#header1 {
  margin: auto;
  text-align: center;
}
#header2 {
  margin: auto;
  color: blue;
  text-align: center;
}
.firstGrid {
  display: grid;
  margin: auto;
  grid-template-columns: 200px 200px 150px 150px 200px;
  grid-template-rows: 600px;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 20px;
}
.brokers {
  grid-area: 1 / 1 / 2 / 2;
  text-align: left;
  color: blue;
  font-weight: bold;
}
.buyComm {
  grid-area: 1 / 2 / 1/ 3;
}
.sellComm {
  grid-area: 1 / 3 / 1 / 4;
}
.profitLoss {
  grid-area: 1 / 4 / 1 / 5;
}
.DBSFinance {
  grid-area: 1 / 5 / 1 / 6;
}
.radioBtn {
  color: black;
}
#userEnterRate {
  position: relative;
  left: 25px;
  text-align: center;
}
#userEnterRateLabel {
  position: relative;
  left: 25px;
}
.buyComm {
  font-weight: bold;
  color: blue;
  text-align: right;
}
.buyCommForm {
  color: black;
  text-align: right;
}
#buyTotalComm {
  background-color: lightgray;
}
#buyTotal {
  background-color: lightgray;
}
#buyCommRate {
  background-color: lightgray;
}
#buyBrokerComm {
  background-color: lightgray;
}
#buyCDPFee {
  background-color: lightgray;
}
#buySGXFee {
  background-color: lightgray;
}
#buyGST {
  background-color: lightgray;
}
.sellComm {
  font-weight: bold;
  color: blue;
  text-align: center;
}
#sellQty {
  background-color: lightgray;
}
#sellTotalComm {
  background-color: lightgray;
}
#sellTotal {
  background-color: lightgray;
}
#sellCommRate {
  background-color: lightgray;
}
#sellBrokerComm {
  background-color: lightgray;
}
#sellCDPFee {
  background-color: lightgray;
}
#sellSGXFee {
  background-color: lightgray;
}
#sellGST {
  background-color: lightgray;
}
.profitLoss {
  color: blue;
  font-weight: bold;
}
#totalComm {
  background-color: lightgreen;
  position: relative;
  top: 5px;
}
#grandTotal {
  background-color: lightgreen;
  position: relative;
  top: 5px;
}
